<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950002200053-6hg2aqfdkk9g589v4q0aa5u8d80ni1it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950002200053-6hg2aqfdkk9g589v4q0aa5u8d80ni1it</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>950002200053-n62a6h3ujginhc95gak3chkem6r3hd8d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBjsnLZTeZYPb29ad2-vWNEp9loOTgYKGE</string>
	<key>GCM_SENDER_ID</key>
	<string>950002200053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yizi.PLAttendance</string>
	<key>PROJECT_ID</key>
	<string>plstatusboard</string>
	<key>STORAGE_BUCKET</key>
	<string>plstatusboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950002200053:ios:2f7d0447adb6ea92d804bc</string>
</dict>
</plist>